<template>
  <require from="./about-dialog.css"></require>
  <require from="../modal-dialog/modal-dialog"></require>

  <modal-dialog controller.bind="controller" show-cancel-button.bind="false">
    <div class="container about-dialog-container">

      <h3>About Friend Tracker</h3>
      <p>
        Friend Tracker is an application that helps to remind you to contact your old friends and collegues.
      </p>
      <p>
        This application is intended for demonstration and learning purposes only.
      </p>

      <h3>Technologies Used</h3>
      <ul>
        <li>Back-end server is written in <a href="https://nestjs.com">Nest.js</a></li>
        <li>Front-end is built with <a href="https://aurelia.io">Aurelia</a></li>
        <li>Database is <a href="https://www.mongodb.com">MongoDB</a></li>
        <li>Data access layer with <a href="https://mongoosejs.com">Mongoose</a> and <a
            href="https://github.com/hasezoey/typegoose">Typegoose</a></li>
        <li>Authentication 3rd party provider with Google</li>
        <li>Integrates with Google Contacts API to import friends.</li>
        <li>Authentication integrated with <a href="http://www.passportjs.org">Passport.js</a></li>
        <li>Authentication strategy with <a href="https://github.com/mikenicholson/passport-jwt">JWT</a></li>
        <li>Recurring processing of friends built with <a
            href="https://azure.microsoft.com/en-us/services/functions/">Azure Functions</a></li>
        <li>Emails sent with <a href="https://www.mailgun.com">MailGun</a></li>
      </ul>

      <h3>Sending Email</h3>
      <p>
        There is a <a href="https://bitbucket.org/farmas-team/friend-tracker-functions">secondary project</a> that
        includes an <a href="https://azure.microsoft.com/en-us/services/functions/">Azure Functions</a> project that
        deals with
        gathering the friends and send email to users.
      </p>

      <h3>Source Code</h3>
      <p>
        Source code for web application available at <a
          href="https://bitbucket.org/farmas-team/friend-tracker-web">https://bitbucket.org/farmas-team/friend-tracker-web</a>.
      </p>
      <p>
        Source code for azure functions available at <a
          href="https://bitbucket.org/farmas-team/friend-tracker-functions">https://bitbucket.org/farmas-team/friend-tracker-functions</a>.
      </p>
    </div>
  </modal-dialog>
</template>
