<template>
  <require from="./modal-dialog.css"></require>

  <ux-dialog>
    <ux-dialog-header if.bind="!!title">
      ${title}
    </ux-dialog-header>

    <ux-dialog-body>
      <slot></slot>
    </ux-dialog-body>

    <ux-dialog-footer>
      <button class="btn btn-secondary" click.trigger="controller.cancel()" disabled.bind="isBusy"
        if.bind="showCancelButton">
        <i class="fa fa-times"></i>
        &nbsp;&nbsp;Cancel
      </button>
      <button class="btn btn-primary" click.trigger="callback()" disabled.bind="isBusy || !okButtonEnabled"
        attach-focus>
        <i class="fa fa-check"></i>
        &nbsp;&nbsp;${okButtonText}
      </button>
    </ux-dialog-footer>
  </ux-dialog>
</template>
