.friend-list-item {
  float: left;
}

.friends-list-controls {
  margin-bottom: 25px;
}

.friends-list-controls .buttons {
  float: right;
}

.friends-list .empty-list {
  text-align: center;
}

.friends-list-loading {
  text-align: center;
  margin-top: 50px;
}

.friends-group {
  overflow: auto;
  margin-bottom: 30px;
}
