<template>
  <require from="../friend-card/friend-card"></require>
  <require from="./friends-list.css"></require>

  <div class="friends-list-controls">
    <div class="buttons">
      <button class="btn btn-secondary" click.trigger="showCreateFriendDialog()">
        <i class="fa fa-plus"></i>
        &nbsp;&nbsp;Add Friend
      </button>
      <button class="btn btn-primary" click.trigger="showImportFriendsDialog()">
        <i class="fa fa-download"></i>
        &nbsp;&nbsp;Import Friends
      </button>
    </div>

    <form class="form-inline">
      <label>
        Sort By:&nbsp;&nbsp;
        <select class="form-control" value.bind="selectedSortOrder" change.delegate="sortOrderChanged()">
          <option repeat.for="sortOrder of sortOrders" model.bind="sortOrder">
            ${sortOrder}
          </option>
        </select>
      </label>
      &nbsp;&nbsp;
      <label>
        <input type="checkbox" class="form-control" checked.bind="isGroupEnabled">
        &nbsp;&nbsp;Group by Contact Date
      </label>
    </form>
  </div>

  <div class="friends-list">
    <div class="friends-list-loading" show.bind="loading">
      <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>

    <div class="empty-list" show.bind="!loading && friends && friends.length === 0">
      Please add or import friends to get started.
    </div>


    <div show.bind="isGroupEnabled && coldFriends.length > 0" class="friends-group">
      <h4>Cold Relationships (more than a year since last contact)</h4>
      <div class="friend-list-item" repeat.for="friend of coldFriends">
        <friend-card friend.bind="friend"></friend-card>
      </div>
    </div>

    <div show.bind="isGroupEnabled && warmFriends.length > 0" class="friends-group">
      <h4>Warm Relationships (less than a year since last contact)</h4>
      <div class="friend-list-item" repeat.for="friend of warmFriends">
        <friend-card friend.bind="friend"></friend-card>
      </div>
    </div>

    <div class="friend-list-item" repeat.for="friend of friends" show.bind="!isGroupEnabled">
      <friend-card friend.bind="friend"></friend-card>
    </div>
  </div>
</template>
