<template>
  <require from="bootstrap/dist/css/bootstrap.min.css"></require>
  <require from="toastr/build/toastr.min.css"></require>
  <require from="font-awesome/css/font-awesome.min.css"></require>
  <require from="components/nav-bar/nav-bar"></require>
  <require from="app.css"></require>

  <div class="app">
    <nav-bar></nav-bar>

    <div class="container-fluid">
      <router-view></router-view>
    </div>
  </div>
</template>
