<template>
  <require from="../modal-dialog/modal-dialog"></require>
  <require from="./add-friend-dialog.css"></require>

  <modal-dialog title="Add a Friend" ok-button-text="Create" controller.bind="dialogController"
    callback.call="addFriend()" ok-button-enabled.bind="canSave">
    <form class="add-friend-form">
      <div class="form-group" validation-errors.bind="nameErrors" class.bind="nameErrors.length ? 'is-invalid' : ''">
        <label for="addFriendName">Name</label>
        <input type="text" class="form-control" id="addFriendName" placeholder="Friend's Name"
          value.bind="friend.name & validate" attach-focus>
        <div class="invalid-feedback d-block" repeat.for="errorInfo of nameErrors">
          ${errorInfo.error.message}
        </div>
      </div>
      <div class="form-group" validation-errors.bind="emailErrors" class.bind="emailErrors.length ? 'is-invalid' : ''">
        <label for="addFriendEmail">Email</label>
        <input type="text" class="form-control" id="addFriendEmail" placeholder="Friend's Email"
          value.bind="friend.email & validate">
        <div class="invalid-feedback d-block" repeat.for="errorInfo of emailErrors">
          ${errorInfo.error.message}
        </div>
      </div>
    </form>
  </modal-dialog>

</template>
