<template>
  <require from="./home.css"></require>
  <require from="../friends-list/friends-list"></require>

  <div class="home">
    <div class="container instructions" if.bind="user && !user.isAuthenticated">
      Please login to add friends.
    </div>

    <friends-list if.bind="user.isAuthenticated"></friends-list>
  </div>
</template>
