<template>
  <require from="../friend-card/friend-card"></require>
  <require from="./import-friends-dialog.css"></require>

  <ux-dialog>
    <ux-dialog-header>
      <b>Choose Friends to Import</b>
      <div class="header-controls">
        <button class="btn" click.trigger="firstPage()" disabled.bind="!isPreviousEnabled">
          <i class="fa fa-angle-double-left"></i>
          first
        </button>
        <button class="btn" click.trigger="previousPage()" disabled.bind="!isPreviousEnabled">
          <i class="fa fa-angle-left"></i>
          prev
        </button>
        <span class="paging-title">${subTitle}</span>
        <button class="btn" click.trigger="nextPage()" disabled.bind="!isNextEnabled">
          next
          <i class="fa fa-angle-right"></i>
        </button>
      </div>
    </ux-dialog-header>

    <ux-dialog-body>
      <div class="friends-list">
        <div class="friends-list-loading" show.bind="loading">
          <i class="fa fa-spinner fa-spin fa-4x"></i>
        </div>
        <div class="friends-list-item" repeat.for="friend of contacts" show.bind="!loading">
          <friend-card friend.bind="friend" show-contact-date.bind="false" show-footer.bind="false"
            show-email-link.bind="false"></friend-card>
        </div>
      </div>
    </ux-dialog-body>

    <ux-dialog-footer>
      <div class="footer-controls">
        <button class="btn" click.trigger="firstPage()" disabled.bind="!isPreviousEnabled">
          <i class="fa fa-angle-double-left"></i>
          first
        </button>
        <button class="btn" click.trigger="previousPage()" disabled.bind="!isPreviousEnabled">
          <i class="fa fa-angle-left"></i>
          prev
        </button>
        <span class="paging-title">${subTitle}</span>
        <button class="btn" click.trigger="nextPage()" disabled.bind="!isNextEnabled">
          next
          <i class="fa fa-angle-right"></i>
        </button>
      </div>

      <button class="btn btn-secondary" click.trigger="dialogController.cancel()" disabled.bind="!canSave">
        <i class="fa fa-times"></i>
        &nbsp;&nbsp;Cancel
      </button>
      <button class="btn btn-primary" click.trigger="addContacts()" disabled.bind="!canSave">
        <i class="fa fa-check"></i>
        &nbsp;&nbsp;Import
      </button>
    </ux-dialog-footer>
  </ux-dialog>
</template>
