ux-dialog-overlay.active {
  background-color: black;
  opacity: .5;
}

.header-controls {
  float: right;
}

.footer-controls {
  float: left;
}

.header-controls .btn,
.footer-controls .btn {
  font-weight: bold;
}

.paging-title {
  font-style: italic;
}

.friends-list-item {
  float: left;
}

.friends-list {
  overflow: auto;
  min-width: 1000px;
  min-height: 800px;
}

.friends-list-loading {
  text-align: center;
  margin-top: 50px;
}
