.friend-card {
  width: 350px;
  height: 155px;
  margin: 5px 10px 5px 0px;
}

.friend-card .friend-name,
.friend-card .friend-email {
  white-space: nowrap;
  overflow: hidden;
}

.friend-card .date-col {
  padding-right: 0;
}

.friend-card .friend-img{
  float: left; 
  width: 80px;
}

.friend-card .card-footer {
  padding: 0px;
}

.friend-card .card-body {
  padding-right: 0px;
}

.btn-right {
  float: right;
}

.friend-card.card-link:hover {
  cursor: pointer;
}

.friend-card.card-selected {
  background-color: lightblue;
}

.friend-card.card-locked {
  background-color: lightblue;
  opacity: 0.5;
}

.float-right {
  float: right;
}

.friend-card .btn-transparent {
  opacity: 0.6;
}
