<template>
  <require from="./friend-card.css"></require>

  <div
    class="card friend-card ${friend.isSelected? 'card-selected': ''} ${friend.isSelectable? 'card-link': ''} ${friend.isLocked? 'card-locked': ''}"
    click.delegate="clicked()">
    <div class="card-body">
      <img src="${friend.imageUrl}" class="friend-img" />
      <div class="row">
        <div class="col friend-name">
          <b>${friend.name}</b>
        </div>
      </div>
      <div class="row">
        <div class="col friend-email">
          <i class="fa fa-envelope"></i>&nbsp;
          <small if.bind="!showEmailLink">${friend.email}</small>
          <a href="mailto:${friend.email}" if.bind="showEmailLink">
            <small>
              ${friend.email}
            </small>
          </a>
        </div>
      </div>
      <div class="row" if.bind="showContactDate">
        <div class="col date-col">
          <small>
            Contacted: <i>${friend.lastContactDateStr}</i>
          </small>
          <button class="btn btn-sm btn-right btn-transparent" click.delegate="updateDate()"
            title="Updates the last contact date">
            <i class="fa fa-bell"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="card-footer" if.bind="showFooter">
      <button class="btn btn-sm btn-right btn-transparent" click.delegate="edit()">
        <i class="fa fa-pencil"></i>
      </button>
      <a class="btn btn-sm btn-right btn-transparent" href="#" click.delegate="delete()">
        <i class="fa fa-trash"></i>
      </a>
    </div>
  </div>
</template>
