<template>
  <require from="../modal-dialog/modal-dialog"></require>
  <require from="./edit-friend-dialog.css"></require>

  <modal-dialog title="Update a Friend" ok-button-text="Update" controller.bind="dialogController"
    callback.call="editFriend()" ok-button-enabled.bind="canSave">
    <form class="edit-friend-form">
      <div class="form-group" validation-errors.bind="nameErrors" class.bind="nameErrors.length ? 'is-invalid' : ''">
        <label for="editFriendName">Name</label>
        <input type="text" class="form-control" id="editFriendName" placeholder="Friend's Name"
          value.bind="friend.name & validate" attach-focus>
        <div class="invalid-feedback d-block" repeat.for="errorInfo of nameErrors">
          ${errorInfo.error.message}
        </div>
      </div>
      <div class="form-group" validation-errors.bind="emailErrors" class.bind="emailErrors.length ? 'is-invalid' : ''">
        <label for="editFriendEmail">Email</label>
        <input type="text" class="form-control" id="editFriendEmail" placeholder="Friend's Email"
          value.bind="friend.email & validate">
        <div class="invalid-feedback d-block" repeat.for="errorInfo of emailErrors">
          ${errorInfo.error.message}
        </div>
      </div>
      <div class="form-group" validation-errors.bind="imageErrors" class.bind="imageErrors.length ? 'is-invalid' : ''">
        <label for="editFriendImage">Photo Url</label>
        <input type="text" class="form-control" id="editFriendImage" placeholder="Friend's Photo Url"
          value.bind="friend.imageUrl & validate">
        <div class="invalid-feedback d-block" repeat.for="errorInfo of imageErrors">
          ${errorInfo.error.message}
        </div>
      </div>
      <div class="form-group" validation-errors.bind="dateErrors" class.bind="dateErrors.length ? 'is-invalid' : ''">
        <label for="editFriendDate">Last Contact Date</label>
        <input type="date" class="form-control" id="editFriendDate" placeholder="Last Contact Date"
          value.bind="friend.dateStr & validate">
        <div class="invalid-feedback d-block" repeat.for="errorInfo of dateErrors">
          ${errorInfo.error.message}
        </div>
      </div>
    </form>
  </modal-dialog>
</template>
