<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">
      <i class="fa fa-users"></i>
      &nbsp;&nbsp;Friend Tracker
    </span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" click.trigger="showAboutDialog()">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://bitbucket.org/farmas-team/friend-tracker-web">Source</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://federicosilva.net">Blog</a>
        </li>
      </ul>
    </div>
    <div class="my-2 my-lg-0" show.bind="!!user">
      <span class="navbar-text" if.bind="user.isAuthenticated">
        ${user.displayName}&nbsp;&nbsp;
      </span>
      <a if.bind="!user.isAuthenticated" class="btn btn-success my-2 my-sm-0" href="/auth/google">
        Login &nbsp;&nbsp;
        <i class="fa fa-google"></i>
      </a>
      <a if.bind="user.isAuthenticated" class="btn btn-secondary my-2 my-sm-0" href="/">Logout</a>
    </div>
  </nav>
</template>
